<h1><%= @book.title %></h1>
<h1><%= "by #{@book.author}"  %></h1>
<h2><%= @book.genre %></h2>
<h1><%= "*" * @book.rating %></h1>

<!-- if statement so if the book can only be added if it's not in the bookshelf -->


<!-- If the book is not on the bookshelf or on the reading list you can add it to either -->


<%= simple_form_for [@book, @user_book] do |f| %>
<!-- if statment with simple forms to edit -change from reading list to bookshelf. and another to destroy. When added to bookcae need to do a rateing and when destroyed need to remove that rating -->
<%= f.input :have_or_want,
:collection => [[true, 'Add to Bookshelf'], [false, 'Add to resding list']],
:label_method => :last,
:value_method => :first,
:as => :radio_buttons %>
<%= f.submit "Submit" %>
<% end %>
<!-- If is is on the reading list you can add to bookshelf(changes have_or_want to true) or can remove from reading list (delete user_book instance) -->

<h2><% @book.users do |user| %></h2>
<h2><%= user.email %></h2>
<% end %>

<h3><%= @book.have_read ? "You have read this book" : "You have not read this book" %></h3>
<% @book.comments.each do |comment| %></h3>
<h3><%= comment.content %></h3>
<% end %>
<h2><%= link_to "Review this book", new_book_comment_path(@book) %></h2>
<h2><%= link_to "Edit this book", edit_book_path %></h2>
<h2><%= link_to "Back to Library", books_path %></h2>
<h2> <%= link_to "My Bookshelf", my_books_books_path %> </h2>
